@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/*
	unit = 20px;
*/

body{
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Special Elite', cursive;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*{
	box-sizing: border-box;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.instruction-button, .github-button{
	position: absolute;
	top: 5px; 
	right: 5px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	font-size: 33px;
	font-weight: bolder;
}
.github-button{
	left: 5px;
	border: none;
}
.instruction{
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: white;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: none;
}

.instruction span{
	height: 50px;
	margin-left: 10px; 
}
.instruction a{
	color: black;
	text-decoration: none;
}
h1{
	font-family: 'Special Elite', cursive;
}

h1 small{
	font-size: 10px;
	margin-top: -100px;
}

.content{
	width: 400px;
	height: 520px;
	background-color: lightgrey;
	box-shadow: 2px 2px 5px grey inset, -2px -2px 5px grey inset;
	position: relative;
	overflow: hidden;
}

.result, .start-game{
	display: none;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: white;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
	border-radius: 10px;
	padding: 10px;
	font-size: 12px;
	cursor: pointer;
}
.start-game{
	display: flex;
}
.result .over, .start-game .start{
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	font-weight: bolder;
}
.square{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(200, 50, 50, 1);
	position: absolute;
	background-color: orange;
}
.square::before{
	content: "";
	display: inline-block;
	width: 38px;
	height: 18px;
	/*background-color: red;*/
	border-bottom: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
}
.square::after{
	content: "";
	display: inline-block;
	height: 38px;
	width: 18px;
	border-right: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
}


.shapel-h{
	display: inline-block;
	width: 80px;
	height: 20px;
	border: 1px solid rgba(200, 50, 50, 1);	
	position: absolute;
	background-color: orange;
}
.shapel-h::before{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-right: 1px solid rgba(200, 50, 50, 1);
	border-left: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
	margin-left: 19px;
}
.shapel-h::after{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-right: 1px solid rgba(200, 50, 50, 1);
	/*border-left: 1px solid rgba(200, 50, 50, 1);;*/
	position: fixed;
	margin-left: 39px;
}

.shapel-v{
	display: inline-block;
	width: 20px;
	height: 80px;
	border: 1px solid rgba(200, 50, 50, 1);	
	position: absolute;
	background-color: orange;
}
.shapel-v::before{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-top: 1px solid rgba(200, 50, 50, 1);
	border-bottom: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
	margin-top: 19px;
}
.shapel-v::after{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-bottom: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
	margin-top: 39px;
}

.shapet-d{
	display: inline-block;
	width: 60px;
	height: 20px;
	border: 1px solid rgba(200, 50, 50, 1);	
	position: absolute;
	background-color: orange;	
}
.shapet-d::before{
	content: "";
	display: inline-block;
	width: 18px;
	height: 19px;
	border: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
	margin-top: 18px;
	margin-left: 19px;
	background-color: orange;
}

.shapet-d::after{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-left: 1px solid rgba(200, 50, 50, 1);
	border-right: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
	margin-left: 19px;
	background-color: orange;
}

.shapet-u{
	display: inline-block;
	width: 60px;
	height: 20px;
	border: 1px solid rgba(200, 50, 50, 1);	
	position: absolute;
	background-color: orange;	
}
.shapet-u::before{
	content: "";
	display: inline-block;
	width: 18px;
	height: 19px;
	border: 1px solid rgba(200, 50, 50, 1);
	position: fixed;
	margin-top: -21px;
	margin-left: 19px;
	background-color: orange;
}

.shapet-u::after{
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border-left: 1px solid rgba(200, 50, 50, 1);
	border-right: 1px solid rgba(200, 50, 50, 1);
	border-top: 1px solid rgba(200, 50, 50, 1);
	border-bottom: 1px solid rgba(200, 50, 50, 1);

	position: fixed;
	margin-left: 19px;
	margin-top: -1px;
	background-color: orange;
}



.close-instruction{
	width: 100px;
	border: 1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bolder; 
}




.mobile-buttons{
	display: none;
}

.mobile{
	display: none;
}

/***********
	
Mobile Styling

************/

@media only screen and (max-width: 700px) {
  .mobile-buttons{
  	display: flex;
  	align-items: center;
  	justify-content: space-around;
  	width: 100%;
  	height: 100px;
  }
  .mobile-buttons .flip, .fast{
  	width: 100px!important;
  	height: 50px;
  	background-color: grey;
  	border: none;
  	font-family: 'Special Elite', cursive;
  	color: white;
  	border-radius: 5px;
  	outline: none;
  	box-shadow: 5px 5px 10px black;
  }

  .mobile-buttons .flip:active, .fast:active{
  	box-shadow: none;
  }
  .mobile{
  	display: initial;
  }
  .desktop{
  	display: none;
  }
}